<div class="app-container">
    <app-menu></app-menu> <!-- Aquí iría tu componente de cabecera -->
    <div class="content">
      <router-outlet></router-outlet> <!-- Aquí se renderizarán tus páginas -->
    </div>
    <app-footer></app-footer> <!-- Aquí iría tu componente de pie de página -->
  </div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gaegu&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/310f24d06d.js" crossorigin="anonymous"></script>
<i class="fa-solid fa-magnifying-glass"></i>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">