/* Estilos Generales */
body {
  font-family: 'Black Ops One', system-ui;
  background-color: #f4f7f6;
  color: #808080;
  line-height: 1.6;
  padding: 20px;
  margin: 0;
}

.container, .container2, .container3 {
  background: white;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 234, 234, 0.1);
  overflow: hidden;
}

h1 {
  background-color: #60adff;
  color: white;
  padding: 20px;
  margin: 0 0 20px 0;
  text-align: center;
  font-weight: normal;
  font-family: 'Black Ops One', system-ui;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  font-family: 'Gaegu', sans-serif;
  color: black;
}

th {
  background-color: #0055af;
  color: white;
  font-weight: bold;
}

tr:hover {
  background-color: #f5f5f5;
}

/* Estilos específicos para los totales */
.container3 th, .container3 td {
  text-align: right;
}

/* Añadir más estilos según sea necesario */
