body {
    background-color: #eceff1;
    margin: 0;
    padding: 20px;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.izquierda {
    flex: 2;
    padding-right: 20px;
}

.derecha {
    flex: 1;
}

.carrito-container,
.cabecera,
.botones-container {
    border: 2px solid #3498db;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
}

.cabecera {
    background-color: #f0f0f0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.botones-container {
    margin-top: 20px;
}

.boton-pagar {
    background-color: #a7d3ff;
    font-family: 'Black Ops One', system-ui;
    color: #263238;
    border: none;
    padding: 15px 30px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.boton-pagar:hover {
    background-color: #0080ff;
}
